<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.doit.ik.mapper.BoardMapper">

	<!-- List<BoardVO> getList();
	void insert(BoardVO boardVO);
	BoardVO read(long bno);
	int update(BoardVO boardVO);
	int delete(long bno); -->
	
	<delete id="delete" >
		DELETE FROM tbl_board
		WHERE  bno = #{bno}
	</delete>
	
	<update id="update" >
		UPDATE tbl_board
		SET title =#{title}
			,content = #{content}
			,writer = #{writer}
			,updatedate=SYSDATE
		WHERE bno=#{bno}
	</update>
	
	
	<select id="read" resultType="org.doit.ik.domain.BoardVO">
		SELECT *
		FROM tbl_board
		WHERE bno = #{ bno }
	</select>
	
	<!-- #은 Getter 반드시있어야 사용가능 파라미터타입 안줘도됨 
	 parameterType="org.doit.ik.domain.BoardVO" -->
	<insert id="insert">
		INSERT INTO tbl_board (bno,title,content,writer)
		VALUES (seq_board.nextval, #{title}, #{content}, #{writer})
	</insert>
	<!-- void insertSelectKey(BoardVO boardVO);  -->
	<insert id="insertSelectKey">
		<selectKey order="BEFORE" resultType="long" keyProperty="bno">
			SELECT seq_board.nextval
			FROM dual
		</selectKey>
		INSERT INTO tbl_board (bno,title,content,writer)
		VALUES (#{bno}, #{title}, #{content}, #{writer})
	</insert>
	<select id="getList" resultType="org.doit.ik.domain.BoardVO">
		<![CDATA[
		SELECT *
		FROM tbl_board
		WHERE bno > 0 
		ORDER BY bno DESC
		]]>
	</select>


</mapper>
 